<!-- <div class="login">
  <div class="heading">
    <h2>Sign in</h2>
    <div action="#">

      <div class="input-group input-group-lg">
        <span class="input-group-addon"><i class="fa fa-user"></i></span>
        <input type="text" class="form-control" placeholder="Username or email" [(ngModel)]="usuario.name">
          </div>

        <div class="input-group input-group-lg">
          <span class="input-group-addon"><i class="fa fa-lock"></i></span>
          <input type="password" class="form-control" placeholder="Password" [(ngModel)]="usuario.pass">
        </div>

        <button type="submit" class="float"  (click)=mostrar() >Login</button>
      </div>
 		</div>
 </div> -->


 <!-- 
<input type="button" (click)=mostrar() value = "{{title}}">
<input type="text" [(ngModel)]="usuario.name"> 
<input type="text" [(ngModel)]="usuario.pass"> 
 -->

<router-outlet></router-outlet>
